{
    "presets": [
				"@babel/env",
        "@babel/preset-react"
    ],
		"plugins": [
			"@babel/plugin-proposal-function-bind",
			["@babel/plugin-proposal-decorators", { "legacy": true }],
			["module-resolver", {
				"root": ["./src"],
				"alias": {
						"header": "./src/components/Navigation/Header",
						"controls": "./src/components/Navigation/Controls",
						"colors": "./src/configs/Colors",
						"media": "./src/configs/Media",
						"solarsystem": "./src/components/SolarSystem/SolarSystem",
						"underscore": "lodash"
				}
			}]
		],
		"env": {
			"production": {
				"plugins": ["transform-remove-console"]
			}
		}
}
